discord_auth:
  token: "ENTER TOKEN HERE" # Discord Bot Token
  client_id: "ENTER CLIENT ID HERE" # Discord Client ID - Main
  client_secret: "ENTER CLIENT SECRET HERE" # Discord Client Secret - Main
  root_users:
    - "USER ID A" # Root User 1

  allowed_redirects: # Change afterwards if desired
    - http://localhost:5173/authorize
    - http://localhost:5174/authorize
    - https://v6-beta.antiraid.xyz/authorize
    - https://antiraid.xyz/authorize

sites:
  frontend: https://antiraid.xyz # Staging value
  api: http://localhost:60000 # Staging value
  docs: https://docs.antiraid.xyz # Documentation URL

servers:
  main: "ENTER MAIN SERVER ID HERE" # Main Server ID

meta:
  postgres_url: postgres:///antiraid # Postgres URL
  proxy: http://localhost:3221 # Proxy URL
  support_server_invite: https://discord.gg/9BJWSrEBBJ
  default_error_channel: "1425929553930616833" # Change this
  mesophyll_token: "ENTER A RANDOM STRING HERE" # Mesophyll Token
  stratum_server: "127.0.0.1:12944"
  stratum_grpc_access_key: "ENTER A RANDOM STRING HERE"
  blob_token: "ENTER A RANDOM STRING HERE"

addrs:
  template_worker: 0.0.0.0:60000
  mesophyll_server: 127.0.0.1:30000

worker_path: "/home/myusernamehere/template-worker/target/release/worker" # Path to worker executable
